/* i really want this to be global */

@-moz-document
regexp("^.*luakit://.*$")
{
* {
    background: #111111 !important;
    color: #dddddd !important;
    margin: 0;
    padding: 0;
}
body div {
    padding: 0.5em;
}
a {
    color: #00dd00 !important;
}
}
@-moz-document
regexp("^(?!.*(?:artixlinux.org|duckduckgo.com|luakit://|reddit.com|stackoverflow.com|spacevim.org)).*$")
{
/* Invert all black+white colors and adjust other colors to complement */
html {
    filter: invert(1) hue-rotate(180deg);
}

/* Revert images to normal */
img {
    filter: invert(1) hue-rotate(180deg);
}

/* Mainly to make GitHub header dark */
header, footer, nav {
    background: #eeeeee !important;
}

/* Force light text in dark footers */
footer div {
    color: #222222 !important;
}

/* GitHub header buttons white */
header summary {
    color: #222222 !important;
}

/* All links green */
a {
    color: green !important;
}

/* GitHub specific */
.markdown-body img {
    background-color: black !important;
}
}
